.recent-quiz-main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 140px;
    height: 140px;
    background-color: #FAFAFD;
    border-radius: 10px;
    padding: 20px;
}

.recent-quiz-main:hover {
    background-color: #E1F2FF;
}

.icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.icon-container {
    margin-left: -8px;
}

.recent-quiz-info {
    width: 110%;
}

.recent-quiz-icon {
    width: 60%;
    height: 60%;
}

.quiz-title {
    font-family: 'Montserrat', 'sans-serif';
    font-size: 14px;
    font-weight: bold;
}