.user-box-main {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    color: rgb(150, 150, 150);
}

.user-circle-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #C4C4C4;
    margin-right: 20px;
}

.user-container-part {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.user-container-part-two {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.username {
    color: rgb(56, 56, 56);
    font-weight: bold;
}

.bell-image {
    width: 100%;
    height: 100%;
}

.bell-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.bell-image:hover {
    padding: 30%;
    width: 100%;
    height: 100%;
    background-color: #cce9ff;
    border-radius: 50%;
}

.highlighted {
    z-index: 2;
    padding: 30%;
    width: 100%;
    height: 100%;
    background-color: #cce9ff;
    border-radius: 50%;
}

.notification-box {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    z-index: 2;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    width: 300px;
    height: 200px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 24px 54px 100vh #00000044;
}

.notification-box.hidden {
    display: none;
}

.notification-info {

    font-size: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;

}