@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Nunito&display=swap');

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(46, 46, 46);
}

.container {
  padding-left: 20px;
  padding-right: 20px;

}

.phone-screen-size {
  width: 375px;
  height: 875px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
}