.quiz-container-main {
    height: 100px;
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 10px 24px 54px 0px rgba(51, 51, 51, 0.03);
    margin-bottom: 10px;
}

.quiz-container-main:hover {
    background-color: #E1F2FF;
}

.quiz-first-content {
    width: 100%;
    height: 100%;
    padding-left: 20px;
    display: flex;
    align-items: center;
}

.quiz-second-content {
    display: flex;
    padding-right: 20px;
}